#social-icon {
    font-size: 18px;
}
#social-icon a:nth-child(1) i {
    color: #316FF6;
}
#social-icon a:nth-child(2) i {
    color: #0077b5;
}
#social-icon a:nth-child(3) i {
    color: #962fbf;
}
#social-icon a:nth-child(4) i {
    color: #1DA1F2;
}
#social-icon a {
    transition: .3s ease-in-out;
}
#social-icon a:hover {
    opacity: .5;
}