#logo {
    color: #05482c;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
    font-family: 'Ephesis';
    text-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}
#logo span {
    color: #08ab67;
    font-size: 24px;
    font-weight: 400;    
}
#nav li a {
    color: #05482c;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav li #active {
    color: #08ab67;
}
#nav li a:hover {
    color: #08ab67;
}
/* navbar toggler icon */
.navbar-toggle {
    width: 30px;
    height: 30px;
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggle,
.navbar-toggle:focus,
.navbar-toggle:active,
.toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    background-color: inherit;
}
.navbar-toggle span {
    margin: 0;
    padding: 0;
}
.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #05482c;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.middle-bar {
    margin-top: 0;
}
/* when navagation on click */
.top-bar {
    margin-top: 0;
    transform: rotate(135deg);
}
.middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}
.bottom-bar {
    margin-top: 0;
    transform: rotate(-135deg);
}

/* state when navbar collapse */

.navbar-toggle.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggle.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}