#home-page h5,
#home-page h3
 {
    color: #0D7377;
}
#home-page h2
 {
 color: #14FFEC;
}
#home-page .h-btn {
    color: #0D7377;
    font-weight: 800;
    transition: .3s ease-in-out;
}
#home-page .h-btn:hover{
    color: #14FFEC;
}
