#portfolio-page h6 {
    color: #14FFEC;
}
#portfolio-page .card {
    height: 250px;
    border-radius: 20px;
    border: 1px solid #14FFEC;
    background: #212121;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
#portfolio-page .card .img-box {
    margin-top: 43px;
    border-radius: inherit;

    display: flex;
    justify-content: space-evenly;
    
}
#portfolio-page .box-one,
#portfolio-page .box-two
 {
    width: 80px;
    height: 150px;
    border-radius: 16px;
    outline: 3px solid #14FFEC;
    box-shadow: 2px 2px 4px #14FFEC;
}
#portfolio-page .box-one {
    transform: rotate(-340deg);
    background: url(../../img/Graphic\ Design\ &\ IT\ Services\ Center\ \(1\).png) no-repeat;
    background-size: cover;
}
#portfolio-page .box-two {
    left: 20px;
    transform: rotate(-340deg);
    background: url(../../img/Graphic\ Design\ &\ IT\ Services\ Center\ \(2\).png) no-repeat;
    background-size: cover;
}
#portfolio-page .card-content {
    margin: 20px  20px 0px 20px;
}

#portfolio-page .tw-one {
    background: url(../../img/card-3-1.png) no-repeat;
    background-size: cover;
}
#portfolio-page .tw-two {
    background: url(../../img/card-3-2.png) no-repeat;
    background-size: cover;
}

#portfolio-page .thre-one {
    background: url(../../img/card-4-2.png) no-repeat;
    background-size: cover;
}
#portfolio-page .thre-two {
    background: url(../../img/card4-2.png) no-repeat;
    background-size: cover;
}