#service-page .card {
    padding: 40px;
    border-radius: 20px;
}
#service-page .service-btn {
    border: none;
    width: 140px;
    padding: 8px 18px;
    color: #08ab67;
    border-radius: 8px;
    transition: .5s ease-in-out;
}
#service-page .service-btn:hover {
    color: #05482c;
    background-color: #08ab67;
}

